<% if @resource.comments.any? %>
  <% i = 1 %>
  <% @resource.comments.each do |f| %>
    <% if f.user %>
      <article class="comment_item"><%= f.text %><br>
      <span class="username"><%= f.user.username %></span></small>
      <span class="time"><%= f.created_at %></span>
      <%= link_to 'delete', [f.resource, f], method: :delete, data: {confirm: "Are you sure?"} , class: "delete_comment"%>
    </article>
    <% end %>
  <% end %>
<% end %> 
