
body{
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.intro h1{
  color: rgba(50, 49, 63, 1);
  margin-top:0;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}

nav{
  width: 100%;
}

nav ul{
  background-color: rgba(50,49,63,0.9);
  width: 100%;
  padding: 10px;
  margin: 0;
  float: right;
  list-style-type: none;
  border-bottom: 7px solid #F06F4F;
}

nav ul li{
  padding: 2px 8px;
  float: right;
  display: inline-block;
}

nav a{
  text-decoration: none;
  color: #FFFBF0;
}
nav a:hover{
  color: #F06F4F;
}

#new_resource > .learning_style_form{
  padding: 0;
  text-align: left;
  list-style-type: none;
}
.learning_style_form > li{
  display: inline;
}

#new_resource #resource_description{
  width: 300px;
  height: 200px;
}
